@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --main-color: #436850;
  --second-color: #263238;
  --body-color: #ffffff;
  --main-font: "Poppins", sans-serif;
}
.container {
  max-width: 75rem;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: var(--body-color);
  font-family: var(--main-font);
  overflow-x: hidden;
  color: #313131;
}
/* section {
  margin-top: 12.5rem;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

nav {
  background-color: rgb(67, 104, 80, 0.9);
  backdrop-filter: blur(0.3125rem);
  border-bottom: solid 0.0625rem #436850;
  position: sticky;
  top: 0;
  z-index: 99899;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav-wrapper {
  display: flex;
  align-items: center;
  padding: 16px 0;
  justify-content: space-around;
  margin: 0 aut;
}
.nav-wrapper .menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-wrapper .menu .login {
  background-color: #dda15e;
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}
.nav-wrapper .menu .login:hover {
  transform: scale(1.2);
  /* background-color: #436850; */
}
.navbar-item {
  display: flex;
  gap: 1.875rem;
}
.nav-wrapper .navbar-item a {
  font-weight: 400;
  font-size: 20px;
  color: var(--body-color);
  transition: 0.2s linear;
}
.nav-wrapper .navbar-item a:hover {
  color: #dda15e;
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 989;
  background-color: #e7e7e7;
  padding-top: 86px;
  transition: 0.4s;
  a {
    display: block;
    text-align: center;
    align-items: center;
    padding: 20px;
    color: #436850;
    font-size: 20px;
    transition: 0.2s linear;
  }
  a:hover {
    background-color: #ffffff;
  }
  .button {
    margin: 16px 16px;
  }
  .button a {
    padding: 0.25rem 1.5rem;
    font-weight: 500;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid #436850;
    border-radius: 8px;
  }

  .button a:hover {
    background-color: #dda15e;
    border: none;
    color: #fff;
  }
}
.mobile-nav.is-active {
  top: 0;
}
/* -----------------------hero section --------------------------*/

.section-padding {
  padding: 80px 0;
}
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 1.875rem;
  align-items: center;
}
.home .image-wrapper img {
  position: relative;
  z-index: 1;
  width: 100%;
}
.home .image-wrapper .background-image {
  background-color: #efefef;
  width: 43.125rem;
  height: 43.75rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 24px;
  z-index: 0;
}

.home .home-text {
  z-index: 2;
  margin: auto;
}
.home .home-text h3,
.about .about-text h3 {
  font-size: 2.75rem;
  font-weight: 700;
}
.home .home-text p,
.about .about-text p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}
.home .home-text a {
  background-color: var(--main-color);
  color: var(--body-color);
  padding: 0.875rem 2rem;
  border-radius: 0.625rem;
  transition-duration: 200ms;
}
.home .home-text a:hover {
  opacity: 0.5;
}
.home .image-wrapper img,
.about .about-img {
  width: max-content;
}

/* --------------------About Section------------------------ */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.about .about-text {
  margin: auto;
}
.about img {
  width: 100%;
}

/* -----------------services section-------------------- */

.service {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.service .card-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.2);
  height: max-content;
}
.service .card-header .image-wrapper {
  align-self: center;
}
.service .card-header .image-wrapper img {
  width: 100%;
}
.service .card-header .tittle-wrapper {
  padding: 48px;
  align-self: center;
}
.service .card-header .tittle-wrapper .tittle {
  font-size: 32px;
}
.service .card-header .tittle-wrapper p {
  margin-bottom: 1.875rem;
  font-size: 18px;
  font-weight: 500;
}
.service .card-header .tittle-wrapper .download {
  background-color: var(--main-color);
  color: var(--body-color);
  padding: 0.875rem 1.5rem;
  border-radius: 0.625rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition-duration: 200ms;
}
.service .card-header .tittle-wrapper .download:hover,
.ending .content-wrapper .content-bottom .letter-wrapper .button a:hover {
  opacity: 0.5;
}
.service .card-wrapper .card .content .button {
  background-color: var(--body-color);
  color: #436850;
  padding: 0.875rem 1.5rem;
  border-radius: 0.625rem;
  display: inline-flex;
  align-self: center;
  gap: 0.5rem;
  cursor: pointer;
  z-index: 9;
}

.service .card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 16px;
}
.service .card-wrapper .card {
  display: flex;
  position: relative;
  height: 432px;
  background-color: #436850;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.2);
  justify-content: center;
}
.service .card-wrapper .card .bg-code {
  right: 0;
  bottom: 0;
  position: absolute;
}
.service .card-wrapper .card-css {
  background-color: #8fb19b;
}
.service .card-wrapper .card-js {
  background-color: #448c5e;
}

.service .card-wrapper .card .content {
  display: flex;
  flex-direction: column;
  margin: auto 32px;
  text-align: center;
  color: #ffffff;
  gap: 24px;
}
.service .card-wrapper .card .content .button {
  display: inline-flex;
  align-self: center;
}
.service .card-wrapper .card .content img {
  align-self: center;
}

/* ------------------section ending------------ */

.ending .content-wrapper {
  display: grid;
  grid-template-rows: 1fr;
}
.ending .content-wrapper .text-wrapper {
  line-height: 6rem;
  text-align: center;
}
.ending .content-wrapper .text-wrapper h1 {
  font-weight: 500;
  font-size: 64px;
  color: var(--main-color);
}
.ending .content-wrapper .content-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 350px;
  /* background-color: #dda15e; */
  position: relative;
  margin-top: 32px;
}
.ending .content-wrapper .content-bottom .letter-wrapper {
  display: flex;
  flex-direction: column;
  right: 0;
  flex-grow: 1;
  margin-left: 445px;
  justify-content: space-between;
}
.ending .content-wrapper .content-bottom .background p {
  margin: 30px 82px 0 0;
}
.ending .content-wrapper .content-bottom .letter-wrapper .button a {
  display: flex;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 0.875rem 1.5rem;
  border-radius: 0.625rem;
  width: max-content;
  margin: auto 32px 24px auto;
}

.ending .content-wrapper .content-bottom img {
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 0;
}
.ending .content-wrapper .content-bottom .background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 254px;
  border-radius: 16px;
  background: linear-gradient(270deg, #e7e7e7 0%, #fff 100%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 0;
}
/* --------------------footer--------------------- */

.footer {
  gap: 16px;
  display: grid;
  grid-template-areas:
    "logo learning kontak follow"
    "logo learning kontak follow";
  justify-content: space-between;
  background-color: #efefef;
  padding: 32px 32px 190px 32px;
  border-radius: 16px;
}
.footer .logo {
  grid-area: logo;
  min-width: 380px;
  border-radius: 8px;
}
.footer .learning {
  grid-area: learning;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: #dda15e; */
}
.footer .kontak {
  grid-area: kontak;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .follow {
  grid-area: follow;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer > p,
h1 {
  font-size: 20px;
}
.footer h1 {
  font-weight: 600;
}
.footer .image-container {
  display: flex;
  gap: 16px;
}
.footer .image-container img {
  cursor: pointer;
}

/* --------Responsoy---------- */
@media (min-width: 767px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 960px) {
  /* navbar */

  /* home sect */
  .home .image-wrapper .background-image {
    height: 30rem;
    width: 460px;
  }
  /* footer */
  .footer {
    grid-template-areas:
      "logo learning  kontak "
      "logo follow  follow ";
  }
  .footer .logo {
    min-width: 200px;
  }
  .footer .logo img {
    max-width: 220px;
  }
  .home .image-wrapper img,
  .about .about-img {
    width: 100%;
    margin: auto 0;
  }
  .ending .content-wrapper .content-bottom .letter-wrapper {
    margin-left: 310px;
  }
}

@media (max-width: 767px) {
  /* navbar */
  .nav-wrapper {
    gap: 8px;
    justify-content: space-between;
    margin: 0 20px;
    img {
      width: 80%;
    }
  }
  .nav-wrapper .menu a {
    font-size: 16px;
  }
  .nav-wrapper .navbar-item,
  .nav-wrapper .menu .login {
    display: none;
  }

  /* Home section */
  .home {
    grid-template-columns: 1fr;
  }
  .home .home-text {
    order: 2;
  }
  .home .home-text h3,
  .about .home-text h3,
  .about .about-text h3 {
    font-size: 2rem;
  }
  .ending .content-bottom .image-wrapper img {
    width: 100%;
  }
  .home .image-wrapper .background-image {
    height: 780px;
  }
  /* about sect */
  .about {
    grid-template-columns: 1fr;
  }

  /* service sect */
  .service .card-header {
    grid-template-columns: 1fr;
    gap: 0;
    height: fit-content;
  }
  .service .card-header .image-wrapper {
    order: 1;
  }
  .service .card-header .tittle-wrapper {
    order: 2;
    padding: 24px;
  }
  .service {
    grid-template-rows: 1fr;
  }
  .service .card-header .tittle-wrapper .tittle {
    font-size: 24px;
  }
  /* end section */

  .ending .content-wrapper .text-wrapper h3 {
    font-size: 32px;
  }
  .ending .content-wrapper .text-wrapper {
    line-height: normal;
  }
  .ending .content-wrapper .text-wrapper h1 {
    font-size: 48px;
  }
  .ending .content-wrapper .content-bottom {
    grid-template-columns: 1fr;
  }
  .ending .content-wrapper .content-bottom img,
  .ending .content-wrapper .content-bottom .background,
  .ending .content-wrapper .content-bottom {
    position: static;
  }

  .ending .content-wrapper .content-bottom .letter-wrapper {
    margin: auto;
  }
  .ending .content-wrapper .content-bottom {
    height: 100%;
  }
  .ending .content-wrapper .content-bottom .background p {
    margin: auto 32px;
  }
  .footer {
    grid-template-areas:
      "logo logo logo logo"
      "follow follow follow follow"
      "learning kontak kontak kontak";
    padding: 16px 0 104px 16px;
  }
  .footer h1,
  .footer p {
    font-size: 14px;
  }
  .footer .logo img {
    max-width: 180px;
  }
  .footer .follow .image-container img {
    max-width: 2rem;
  }
}
